<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Add character page</title>
</head>
<body>
    <div class="container-fluid">

        <form th:action="@{/character/addCharacter}" th:object="${characterStatus}" method="post">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img src="..." class="img-thumbnail" alt="...">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2" style="padding:0px">
                    <div class="short-div">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" th:field="*{name}">
                        </div>
                    </div>
                    <div class="short-div">
                        <label for="inputWeapon" class="col-sm-2 col-form-label">Weapon</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputWeapon" th:field="*{weapon}">
                        </div>
                    </div>
                    <div class="short-div">
                        <label for="inputDesc" class="col-sm-2 col-form-label">Desc</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputDesc">
                        </div>
                    </div>
                    <fieldset class="short-div">
                        <legend class="col-form-label col-sm-2 pt-0">Prototype</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="NONE" th:field="*{propertyType}" checked>
                                <label class="form-check-label" for="gridRadios1" >
                                    NONE
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="FIRE" th:field="*{propertyType}">
                                <label class="form-check-label" for="gridRadios2" >
                                    FIRE
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="WATER" th:field="*{propertyType}">
                                <label class="form-check-label" for="gridRadios3" >
                                    WATER
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="EARTH" th:field="*{propertyType}">
                                <label class="form-check-label" for="gridRadios4" >
                                    EARTH
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="LIGHT" th:field="*{propertyType}">
                                <label class="form-check-label" for="gridRadios5" >
                                    LIGHT
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios6" value="DARK" th:field="*{propertyType}">
                                <label class="form-check-label" for="gridRadios6" >
                                    DARK
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="short-div">
                        <div class="col-sm-10">
                            <input type="submit" class="form-control" id="saveBtn">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>